name: CI

on:
  push:
    branches:
      - main
      - master
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  linux:
    runs-on: ${{ matrix.platform.runner }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
          - runner: ubuntu-22.04
            target: x86
          - runner: ubuntu-22.04
            target: aarch64
          - runner: ubuntu-22.04
            target: armv7
          - runner: ubuntu-22.04
            target: s390x
          - runner: ubuntu-22.04
            target: ppc64le
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          manylinux: 2_28
          working-directory: BinaryOptionsToolsV2
        env:
          CFLAGS_aarch64_unknown_linux_gnu: "-D__ARM_ARCH=8"
          CFLAGS_armv7_unknown_linux_gnueabihf: "-D__ARM_ARCH=7"
          ASFLAGS_aarch64_unknown_linux_gnu: "-D__ARM_ARCH=8"
          ASFLAGS_armv7_unknown_linux_gnueabihf: "-D__ARM_ARCH=7"
      - name: Build free-threaded wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist -i python3.13t
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          manylinux: 2_28
          working-directory: BinaryOptionsToolsV2
        env:
          CFLAGS_aarch64_unknown_linux_gnu: "-D__ARM_ARCH=8"
          CFLAGS_armv7_unknown_linux_gnueabihf: "-D__ARM_ARCH=7"
          ASFLAGS_aarch64_unknown_linux_gnu: "-D__ARM_ARCH=8"
          ASFLAGS_armv7_unknown_linux_gnueabihf: "-D__ARM_ARCH=7"
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-${{ matrix.platform.target }}
          path: BinaryOptionsToolsV2/dist
      - name: pytest
        if: ${{ startsWith(matrix.platform.target, 'x86_64') }}
        shell: bash
        working-directory: BinaryOptionsToolsV2
        run: |
          set -e
          python3 -m venv .venv
          source .venv/bin/activate
          pip install BinaryOptionsToolsV2 --find-links dist --force-reinstall
          pip install pytest
          mkdir test_run
          cd test_run
          pytest ../tests
      - name: pytest
        if: ${{ !startsWith(matrix.platform.target, 'x86') && matrix.platform.target != 'ppc64' }}
        uses: uraimo/run-on-arch-action@v2
        with:
          arch: ${{ matrix.platform.target }}
          distro: ubuntu22.04
          githubToken: ${{ github.token }}
          install: |
            apt-get update
            apt-get install -y --no-install-recommends python3 python3-pip
            pip3 install -U pip pytest
          run: |
            set -e
            cd BinaryOptionsToolsV2
            pip3 install BinaryOptionsToolsV2 --find-links dist --force-reinstall
            mkdir test_run
            cd test_run
            pytest ../tests

  musllinux:
    runs-on: ${{ matrix.platform.runner }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
          - runner: ubuntu-22.04
            target: x86
          - runner: ubuntu-22.04
            target: aarch64
          - runner: ubuntu-22.04
            target: armv7
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          manylinux: musllinux_1_2
          working-directory: BinaryOptionsToolsV2
        env:
          CFLAGS_aarch64_unknown_linux_musl: "-D__ARM_ARCH=8"
          CFLAGS_armv7_unknown_linux_musleabihf: "-D__ARM_ARCH=7"
          ASFLAGS_aarch64_unknown_linux_musl: "-D__ARM_ARCH=8"
          ASFLAGS_armv7_unknown_linux_musleabihf: "-D__ARM_ARCH=7"
      - name: Build free-threaded wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist -i python3.13t
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          manylinux: musllinux_1_2
          working-directory: BinaryOptionsToolsV2
        env:
          CFLAGS_aarch64_unknown_linux_musl: "-D__ARM_ARCH=8"
          CFLAGS_armv7_unknown_linux_musleabihf: "-D__ARM_ARCH=7"
          ASFLAGS_aarch64_unknown_linux_musl: "-D__ARM_ARCH=8"
          ASFLAGS_armv7_unknown_linux_musleabihf: "-D__ARM_ARCH=7"
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-musllinux-${{ matrix.platform.target }}
          path: BinaryOptionsToolsV2/dist
      - name: pytest
        if: ${{ startsWith(matrix.platform.target, 'x86_64') }}
        uses: addnab/docker-run-action@v3
        with:
          image: alpine:latest
          options: -v ${{ github.workspace }}:/io -w /io/BinaryOptionsToolsV2
          run: |
            set -e
            apk add py3-pip py3-virtualenv
            python3 -m virtualenv .venv
            source .venv/bin/activate
            pip install BinaryOptionsToolsV2 --no-index --find-links dist --force-reinstall
            pip install pytest
            mkdir test_run
            cd test_run
            pytest ../tests
      - name: pytest
        if: ${{ !startsWith(matrix.platform.target, 'x86') }}
        uses: uraimo/run-on-arch-action@v2
        with:
          arch: ${{ matrix.platform.target }}
          distro: alpine_latest
          githubToken: ${{ github.token }}
          install: |
            apk add py3-virtualenv
          run: |
            set -e
            cd BinaryOptionsToolsV2
            python3 -m virtualenv .venv
            source .venv/bin/activate
            pip install pytest
            pip install BinaryOptionsToolsV2 --find-links dist --force-reinstall
            mkdir test_run
            cd test_run
            pytest ../tests

  windows:
    runs-on: ${{ matrix.platform.runner }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: windows-latest
            target: x64
          - runner: windows-latest
            target: x86
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
          architecture: ${{ matrix.platform.target }}
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          working-directory: BinaryOptionsToolsV2
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13t
          architecture: ${{ matrix.platform.target }}
      - name: Build free-threaded wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist -i python3.13t
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          working-directory: BinaryOptionsToolsV2
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-windows-${{ matrix.platform.target }}
          path: BinaryOptionsToolsV2/dist
      - name: pytest
        if: ${{ !startsWith(matrix.platform.target, 'aarch64') }}
        shell: bash
        working-directory: BinaryOptionsToolsV2
        run: |
          set -e
          python3 -m venv .venv
          source .venv/Scripts/activate
          pip install BinaryOptionsToolsV2 --find-links dist --force-reinstall
          pip install pytest
          mkdir test_run
          cd test_run
          pytest ../tests

  macos:
    runs-on: ${{ matrix.platform.runner }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: macos-15-intel
            target: x86_64
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          working-directory: BinaryOptionsToolsV2
      - name: Build free-threaded wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist -i python3.13t
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          working-directory: BinaryOptionsToolsV2
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-${{ matrix.platform.target }}
          path: BinaryOptionsToolsV2/dist
      - name: pytest
        working-directory: BinaryOptionsToolsV2
        run: |
          set -e
          python3 -m venv .venv
          source .venv/bin/activate
          pip install BinaryOptionsToolsV2 --find-links dist --force-reinstall
          pip install pytest
          mkdir test_run
          cd test_run
          pytest ../tests

  emscripten:
    runs-on: ${{ matrix.platform.runner }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: wasm32-unknown-emscripten
    steps:
      - uses: actions/checkout@v4
      - run: pip install pyodide-build
      - name: Get Emscripten and Python version info
        shell: bash
        run: |
          echo EMSCRIPTEN_VERSION=$(pyodide config get emscripten_version) >> $GITHUB_ENV
          echo PYTHON_VERSION=$(pyodide config get python_version | cut -d '.' -f 1-2) >> $GITHUB_ENV
          pip uninstall -y pyodide-build
      - uses: mymindstorm/setup-emsdk@v12
        with:
          version: ${{ env.EMSCRIPTEN_VERSION }}
          actions-cache-folder: emsdk-cache
          no-cache: true
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: pip install pyodide-build
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          rust-toolchain: nightly
          working-directory: BinaryOptionsToolsV2
      - name: Build free-threaded wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist -i python3.13t
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          rust-toolchain: nightly
          working-directory: BinaryOptionsToolsV2
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wasm-wheels
          path: BinaryOptionsToolsV2/dist
      - uses: actions/setup-node@v6
        with:
          node-version: '18'
      - name: pytest
        working-directory: BinaryOptionsToolsV2
        run: |
          set -e
          pyodide venv .venv
          source .venv/bin/activate
          pip install BinaryOptionsToolsV2 --find-links dist --force-reinstall
          pip install pytest
          mkdir test_run
          cd test_run
          python -m pytest ../tests

  sdist:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: --out dist
          working-directory: BinaryOptionsToolsV2
      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: wheels-sdist
          path: BinaryOptionsToolsV2/dist

  release:
      name: Release
      runs-on: ubuntu-latest
      timeout-minutes: 60
      if: ${{ startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch' }}
      needs: [linux, musllinux, windows, macos, emscripten, sdist]
      permissions:
        id-token: write
        contents: write
        attestations: write
      steps:
        - uses: actions/download-artifact@v4
          with:
            # This downloads all artifacts. 
            # Each artifact is placed in a directory named after its name (e.g., wheels-linux-x86_64/)
            path: .
  
        - name: Generate artifact attestation
          uses: actions/attest-build-provenance@v2
          with:
            subject-path: 'wheels-*/*'
  
        - name: Publish to PyPI
          if: ${{ startsWith(github.ref, 'refs/tags/') }}
          uses: PyO3/maturin-action@v1
          env:
            MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
          with:
            command: upload
            args: --non-interactive --skip-existing wheels-*/* wasm-wheels/*
  
        - name: Upload to GitHub Release
          uses: softprops/action-gh-release@v2
          with:
            # This pattern catches all wheels and the sdist from all artifact folders
            files: |
              wheels-*/*
              wasm-wheels/*
            prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
